body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main-container {
  background-image: linear-gradient(white, #198ac9);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.navbar-custom {
  background-color: #fff;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.navbar-brand-custom {
  display: flex !important;
  align-items: center;
}

.brand-title {
  margin-left: 10px;
}

.box {
  font-size: 1.25rem;
  background-color: #eff3f5 !important;
  position: relative;
  padding: 20px;
}

.box__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__success {
  animation: appear-from-inside 0.25s ease-in-out;
}

.box__btn {
  font-weight: 700;
  color: #e5edf1;
  background-color: #39bfd3;
  display: none;
  padding: 8px 16px;
  margin: 40px auto 0;
}

.box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.box__file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.box.is-dragover {
  background-color: #fff !important;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}

.box.has-advanced-upload .box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}

.box__chooseText:hover {
  color: #39bfd3;
}

.pt-3-half {
  padding-top: 1.4rem;
}

#toast-container {
  position: fixed; 
  bottom: 0; 
  left: 0;
  width: auto;
}

#custom-loader {
  visibility: hidden;
}

.loader {
  height: 5px;
  width: 100%;
  overflow: hidden;
  transition: display ease-in linear 0.5s;
}
.loader .bar {
  width: 100%;
  position: absolute;
  height: 5px;
  background-color: dodgerblue;
  animation-name: loader-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loader-animation {
  0% {
    left: -100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.toast .error-toast {
  background-color: #EF5350;
  color: white;
}

.toast .info-toast {
  background-color: #454553;
  color: white;
}

.select-customer {
  width: 50%;
  justify-content:space-between;
}


.hideElement{
    display: none;
}

.showElement{
    display: block;
}

.hideDropBox{
    pointer-events: none;
    opacity: .5;
}

.showDropBox{
    pointer-events: all;
    opacity: 1;
}