<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZapCom Timesheets</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/dashboard.css"
      th:href="@{css/dashboard.css}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
  </head>
  <body>

    <script type="text/javascript" src="../static/js/dashboard.js" th:src="@{js/dashboard.js}"> </script>
  </body>
</html>
