<!doctype html>
<html lang="en">
<head>
    <title>ZapCom Timesheets - Zap2QB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/home.css"
            th:href="@{css/home.css}"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script>
        var loc = window.location.href+'';
        if (loc.indexOf('http://')==0){
            window.location.href = loc.replace('http://','https://');
        }
    </script>
</head>
<body>
    <!-- Connect To QuickBooks Button -->
    <div class="homeContainer">
        <div class="content">

            <div class="card" style="width: 25rem; height: 20rem;">
                <img
                        style="height: 40px; width: auto; margin: 1rem;"
                        src="../static/images/zapcomLogo.png"
                        th:src="@{/images/zapcomLogo.png}"
                        class="card-img-top"
                        alt="logo"
                />
                <a
                        class="imgLink"
                        id="quickbook-login"
                        href="#"
                >
                    <img
                            style="height: 40px;"
                            src="../static/images/C2QB_white_btn_lg_default.png"
                            th:src="@{/images/C2QB_white_btn_lg_default.png}"
                    />
                </a>

                <div class="divider-container">
                    <div class="divider-left"></div>
                    or
                    <div class="divider-right"></div>
                </div>

                <div class="sub-title">
                    <span>Sign up for</span>
                    <button class="sub-title-btn" id="quickbook-signup">Quickbooks</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/home.js" th:src="@{js/home.js}"></script>
</body>
</html>
